html, body {
    margin: 0px;
    font-size: 14px;
    font-family: Verdana,Arial,sans-serif;
    text-align: center;
}
.logo {
    width: 50px;
    height: 50px;
}

.header {
    color: beige;
    display: flex;
    margin: 0 0 20px 0;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 100px;
    background: linear-gradient(to bottom right,rgba(44,68,114,  0.7),#172238);
    border-radius: .5rem;   
}
.person {
    margin: auto;
}
.layout {
    font-size: 16px;
    max-width: 1200px;
    margin: auto;
    padding-left: env(safe-area-inset-left);
}
.title-container {
    padding-left: 50px;
}
.title {
    transition: all 0.2s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    line-height: inherit;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}
.main {
    display: flex;
    justify-content: space-between;
}
.progress {
    margin-right: 100px;
}
.workspace {
    margin: 0 0 0 15px;
    width: 80%;
}
.menu {
    position: relative;
    height: 100%;
    width: 100px;
    font-size: 18px;
    margin-right: 10px;
    line-height: 62px;
    box-sizing: border-box;
    border: 1px;
    vertical-align: middle;
}
.menu-btn {
    height: 60px;
    width: 200px;
    padding: 10px 20px;
    border: 1px solid rgba(44,68,114,  0.7);
    transition: all ease-in-out .4s;
    border-radius: 25px;
    font-family: inherit;
    font-size: 100%;
    line-height: 1;
    margin-bottom: 20px;
    text-transform: none;
    cursor: pointer;
}

#edit, #diag, #ind, #homework, #pastworks, #work, #works, #controlwork {
    display: none;
}
#controlwork {
    text-align: left;
}
.answer-home {
    text-align: center;
}
.question-home {
    padding-top: 25px;
}
table {
    width: 100%;
    text-align: center;
}
.pastworks-container {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}
ul {
    margin: 50px 50px 50px 50px;
    list-style: none;
    font-size: large;
}
li {
    margin: 50px 50px 50px 50px;
}
a {
    font-size: large;
    text-decoration: none;
}
#demo {
    margin: 10% 0 0 70%;
    width: 70px;
    height: 20px;
    position: fixed;
    border: 3px solid rgba(44,68,114,  0.7);
    font-size: large;
    text-align: bottom;

}

#submit {
    margin-top: 100px;
}
.question {
    text-align: left;
    margin: 0 0 10px 0;
}
.answers {
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: column;
}
.job {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
}
label {
    margin-top: 20px;
}
.submit{
    margin: 50px 50px 50px 50px
}
.file-input {
    margin: 30px 0 30px 0;
}
.job-teacher {
    width: 70%;
}
.text-img{
    width: 70%;
}
.conform {
    display: flex;
    margin: 20px;
}
.conf {
    margin-right: 50px;
}
.student {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.stud-works {
    display: flex;
    flex-direction: column;
}
.graph {
    width: 500px;
}
.stats {
    width: 300px;
    height: 400px;
}
a{
    margin-top: 10px;
}